<div class="container w-100 h-100">
    <span class="pa4 tff">{{title}}</span>
    <form [formGroup]="formData" novalidate ngxsForm="form.entryForm" (ngSubmit)="onSubmit()" class="w-100 pa2 form-control" *ngIf="placeholder">
        <mat-form-field appearance="outline" class="w-100 form-field">
            <mat-label>{{title}}</mat-label>
            <textarea matInput [placeholder]="placeholder" formControlName="formData"></textarea>
        </mat-form-field>
    </form>
    <div class="centered bff">
        <button (click)="triggerEvent()" class="f6 link dim ba b--dashed bw1 ph3 pv2 mb2 dib purple bg-light-green">Next thing</button>
    </div>
</div>