<mat-card class="bg-dark-green">
    <form [formGroup]="fiveThingsForm" novalidate ngxsForm="form.entryForm" (ngSubmit)="onSubmit()" class="form-control">
        <mat-form-field appearance="outline" color="primary" class="form-field">
            <mat-label>ONE</mat-label>
            <textarea matInput [placeholder]="placeholders[0]" formControlName="thing1" matTextareaAutosize="false"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary" class="form-field">
            <mat-label>TWO</mat-label>
            <textarea matInput [placeholder]="placeholders[1]" formControlName="thing2" matTextareaAutosize="false"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary" class="form-field">
            <mat-label>THREE</mat-label>
            <textarea matInput [placeholder]="placeholders[2]" formControlName="thing3" matTextareaAutosize="false"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary" class="form-field">
            <mat-label>FOUR</mat-label>
            <textarea matInput [placeholder]="placeholders[3]" formControlName="thing4" matTextareaAutosize="false"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary" class="form-field">
            <mat-label>FIVE</mat-label>
            <textarea matInput [placeholder]="placeholders[4]" formControlName="thing5" matTextareaAutosize="false"></textarea>
        </mat-form-field>
        <div class="submit-button-group">
            <button mat-stroked-button color="primary" type="submit">{{saveState}}</button>
        </div>
    </form>
</mat-card>