<form [formGroup]="fiveThingsForm" novalidate ngxsForm="form.entryForm" (ngSubmit)="onSubmit()" class="form-control">
    <mat-form-field appearance="outline" class="form-field">
        <mat-label>ONE</mat-label>
        <textarea matInput [placeholder]="placeholders[0]" formControlName="thing1"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>TWO</mat-label>
        <textarea matInput [placeholder]="placeholders[1]" formControlName="thing2"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>THREE</mat-label>
        <textarea matInput [placeholder]="placeholders[2]" formControlName="thing3"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>FOUR</mat-label>
        <textarea matInput [placeholder]="placeholders[3]" formControlName="thing4"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>FIVE</mat-label>
        <textarea matInput [placeholder]="placeholders[4]" formControlName="thing5"></textarea>
    </mat-form-field>
    <div class="submit-button-group">
        <button mat-stroked-button color="accent" type="submit">{{saveState}}</button>
    </div>
</form>