<div class="dashboard" id="dashboard" scrollable (window:scroll)="onWindowScroll($event)">
    <!-- <button class="f6 link dim ph3 pv2 mb2 dib black bg-light-green rotating" routerLink="/login">LOGOUT</button>
    <div class="container">
        <calendar></calendar>
        <fivethingsform></fivethingsform>
    </div> -->
    <div class="w-10 title" [ngClass]="activeThing.color" style.color="#FFFFFF">
        {{activeThing.name}}
    </div>
    <div class="scrollable" *ngIf="activeThing">
        <div class="item w-60" *ngFor="let thing of things; let i = index" [ngClass]="thing.cssClass" [style.top]="thing.top" [style.left]="thing.left">
            <thing [title]="thing.name" (thingClicked)="handleNextThing(i)"></thing>
        </div>
    </div>
</div>