.container {
    width: 65%;
    margin: auto;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }


.dashboard {
  position: relative;
  background: linear-gradient(to top right, rgb(112, 240, 227), rgb(112, 163, 240), rgb(112, 163, 240), rgb(112, 240, 227));
  height: 100vh;
  /* overflow: hidden; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.scrollable {
  overflow: hidden;
}

.item {
  position: absolute;
  box-shadow: 7px 7px white;
}

.t-light-red {
  background-color: #FF725C;
}

.t-light-blue {
  background-color: #96CCFF;
}

.t-light-yellow {
  background-color: #FBF1A9;
}
.t-light-green {
  background-color: #9EEBCF;
}

.t-light-pink {
  background-color: #FFA3D7;
}

.title {
  position: absolute;
  /* font-size: 32px; */
  top: 100px;
  transform: rotate(90deg);
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
}