/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
}

body {
	cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAaCAMAAABigZc2AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFpJREFUeNp9jUEOwEAIAhn+/+imjbs1bC0XzQioSUAAYZs0mcVY051RbGXfFsyxibTVHXhuhXYlbuRGPbe7kz3g0wf679OuizDBdCaberLE4AsjGliD02eNugA+MQFAPqynHQAAAABJRU5ErkJggg==),auto;
}

.bg-gradient {
    background-color: linear-gradient(to top right, rgb(112, 240, 227), rgb(112, 163, 240), rgb(112, 163, 240), rgb(112, 240, 227));
}

.bg-subtle {
    background: linear-gradient(to top left, rgb(189, 233, 231), rgb(216, 246, 245), white);
}

.font-bench {
    font-family: 'BenchNine', sans-serif;
}

.font-fira {
    font-family: 'Fira Sans', sans-serif;
}

.shadow { box-shadow: 5px 5px black }

.bg-five-green {
    background: #9cd7d5;
}

/* Night Man */
/* <color name="text_box_color">#484747</color>
<color name="text_box_color_enabled">#3e3e3e</color>

<color name="search_result_background">#282828</color>

<color name="primary_text_color">#ffffff</color>
<color name="secondary_text_color">#969696</color>

<color name="toolbar_color">#282828</color>

<color name="background_color">#333333</color> */

/* Day Man*/
/*
<resources>
    <color name="grey">#333333</color>
    <color name="darker_grey">#282828</color>
    <color name="another_grey">#9b282828</color>
    <color name="lighter_grey">#484747</color>
    <color name="bluegreen">#3AAFAB</color>
    <color name="black">#000000</color>
    <color name="white">#ffffff</color>
    <color name="disabled_white">#969696</color>

    <color name="text_box_color">#ededed</color>
    <color name="text_box_color_enabled">#dadada</color>
    <color name="search_result_background">#983aafab</color>
    <color name="search_hint_color">#eaeaea</color>

    <color name="primary_text_color">#000000</color>
    <color name="secondary_text_color">#878787</color>

    <color name="toolbar_color">#efefef</color>
    <color name="background_color">#ffffff</color>

</resources>
*/